<div class="container">
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <!-- brand -->
    <a class="navbar-brand" href="#">{{ brand }}</a>

    <!-- toggle button -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- collapsable menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- menu -->
      <ul class="navbar-nav mr-auto">

      </ul>
    </div><!-- /.collapse navbar-collapse -->
  </nav>
</div><!-- /.container -->