<div class="container">
  <div class="question">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          {{ question.text }} <a class="btn btn-link" href="#" (click)="question.hide = !question.hide">Show</a>
        </h5><!-- /.card-title -->
      </div><!-- /.card-header -->

      <div class="card-body" [hidden]="question.hide">
        <p class="card-text">
          {{ question.answer }}
        </p><!-- /.card-text -->
      </div><!-- /.card-body -->
    </div><!-- /.card -->

    <br>
  </div><!-- /.question -->
</div><!-- /.container -->